body {
  background: #000 calc(50% - 40px) calc(50% + 40px) url("dot-bg-dark.svg");
  cursor: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  user-select: none;
  height: 100vh;
}
svg {
  background: #000 40px 20px url("dot-bg.svg");
  background-position: calc(50% - 40px) calc(50% + 40px);
  border-radius: 8px;
  fill: #fff;
  width: 1280px;
  height: 1024px;
  font-family: consolas, monospace;
  font-weight: bold;
}

#menu {
  outline: solid 4px #333;
  position: absolute;
  transition: .2s;
}

#dot, #dot1, #dot2 {
  transition: .1s;
}
#evil-dots *,
#menu-selection,
#hyphen,
#left-menu-title,
#right-menu-title,
#last-score,
#high-score,
#p1-score,
#p2-score {
  transition: .2s;
}

.dead {
  opacity: 0;
  r: 80;
}

@keyframes count-down-fill {
  0% { transform: translateX(0); }
  95% { transform: translateX(0); }
  100% { transform: translateX(21px); }
}
.count-down {
  animation: count-down-fill 10s;
  transform: translateX(21px);
}
