body {
  background: #000 calc(50% - 40px) 20px url("dot-bg-dark.svg");
  background-size: 160px;
  cursor: none;
  text-align: center;
  margin: 0;
  margin-top: calc(50vh - 512px);
  user-select: none;
}
svg {
  background: #000 40px 20px url("dot-bg.svg");
  background-position: calc(50% - 40px) calc(50% + 40px);
  border-radius: 8px;
  fill: #fff;
  width: 1280px;
  height: 1024px;
}

#menu {
  outline: solid 4px #333;
  position: absolute;
  transition: .2s;
}

#dot, #dot1, #dot2 {
  transition: .1s;
}
#evil-dots *, #menu-selection {
  transition: .2s;
}
.dead {
  opacity: 0;
  r: 80;
}

@keyframes count-down-fill {
  0% { transform: translateX(0); }
  95% { transform: translateX(0); }
  100% { transform: translateX(21px); }
}
.count-down {
  animation: count-down-fill 10s;
  transform: translateX(21px);
}

@media screen and (max-width: 1279px) { body { zoom: .875; } }
@media screen and (max-width: 1119px) { body { zoom: .75; } }
@media screen and (max-width: 959px) { body { zoom: .625; } }
@media screen and (max-width: 799px) { body { zoom: .5; } }
@media screen and (max-width: 639px) { body { zoom: .375; } }
@media screen and (max-width: 479px) { body { zoom: .25; } }
@media screen and (max-width: 319px) { body { zoom: .125; } }
